      <div class="jumbotron">
        <h1>Mikanz -未完ズ-</h1>
        <p class="lead">みんなのハート、いつか、つかもう</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <p>ミカンズは、未だ完成を見ていない、甘くて酸っぱい "ミカン" が集まる場所。</p>

          <p>それを「作ろう」、と思ったとき、誰もが驚く野望を隠し持っていたはず。</p>

          <p>「まぁいいか」なんて言わないで。</p>

          <p>がんばってやってみよう、上向いて。</p>

          <p class="via">via - <a href="http://ja.wikipedia.org/wiki/%E4%B8%89%E6%97%A5%E6%9C%88%E3%83%AD%E3%83%83%E3%82%AF">ミカンズのテーマ／スピッツ</a></p>
        </div>
        <hr>
        <div class="span6">
          <h4>最近登録されたミカン</h4>
          <div class="list-group">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'list-group-item') do %>
                <h4 class="list-group-item-heading">
                  <%= mikanz.name %>
                </h4>
                <p class="list-group-item-text">
                  制作開始時期：<%= mikanz.start_time.strftime('%Y/%m/%d %H:%M') %>
                </p>
                <p class="list-group-item-text">
                  完成度：<%= mikanz.completion %> %
                </p>
                <%= render partial: 'mikanzs/tags', locals: { mikanz: mikanz } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
