      <div class="jumbotron topdiv">
        <div class="topdiv-child">
          <p></p>
          <h2>Mikanz -ミカンズ-</h2>
          <p class="lead">あのこのハート、いつか、つかもう</p>
          <p></p>
        </div>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <h4>Mikanz -ミカンズ- って、なに？</h4>
        <div class="row demo-tiles">
          <div class="col-xs-4">
            <div class="tile">
              <%= image_tag '/images/scissors.png', class: 'tile-image' %>
              <%= image_tag '/images/gateway.png', class: 'tile-image' %>
              <h3 class="tile-title">つくりかけのものを登録</h3>
              <p></p>
              <p>Mikanz -ミカンズ- は、<br>
              「みんなの未完成品（ミカン）が集まる場所」。<br>
              あまくてすっぱい、<br>アイデアだけの状態でもかまいません。</p>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="tile">
              <%= image_tag '/images/check_for_virus.png', class: 'tile-image' %>
              <%= image_tag '/images/star.png', class: 'tile-image' %>
              <h3 class="tile-title">見てもらい、応援してもらう</h3>
              <p></p>
              <p>あなたのミカンの登録ができたら、<br>
                ほかの人のミカンも見てみましょう。<br>
                そして、「いいな」と思うものがあったら、<br>
                ぜひ応援してあげましょう。</p>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="tile">
              <%= image_tag '/images/animation.png', class: 'tile-image' %>
              <%= image_tag '/images/smiley_winking.png', class: 'tile-image' %>
              <h3 class="tile-title">また頑張れる、完成させられる！</h3>
              <p></p>
              <p>「完成させることができるかどうか」を恐れず、<br>
                何かを創りだそうとする<br>
                全ての人を応援するWebサービス。<br>
                それが、 <strong>Mikanz -ミカンズ- </strong> です。</p>
            </div>
          </div>
        </div> <!-- /tiles -->

        <hr>
        <div class="span6">
          <h4>ミカンの木（よく使われているタグ）</h4>
          <div class="tagcloud">
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to(tag.name + " (#{tag.taggings_count})", { :controller => 'mikanzs', :action => :tag_search, :tag_name => tag.name }, class: 'label label-success mikanz-tag ' + css_class) %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="span6">
          <h4>最近登録されたミカン</h4>
          <div class="list-group">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'list-group-item') do %>
                <h6 class="list-group-item-heading">
                  <%= render partial: 'mikanzs/display_completion', locals: { mikanz: mikanz } %>
                  <%= mikanz.name %>
                </h6>
                <p class="list-group-item-text">
                  タグ：<%= render partial: 'mikanzs/tags', locals: { mikanz: mikanz } %>
                </p>
                <p class="via">（since <%= mikanz.start_year %>/<%= mikanz.start_month %> by <%= "#{mikanz.owner.nickname}" %>
                  <%= image_tag mikanz.owner.image_url, width: 20, height: 20 %>
                  ）</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
