      <div class="jumbotron">
        <h1>Mikanz -未完ズ-</h1>
        <p class="lead">みんなのハート、いつか、つかもう</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>ミカンの木（よく使われているタグ）</h4>
          <div class="tagcloud">
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to(tag.name + " (#{tag.taggings_count})", { :controller => 'mikanzs', :action => :tag_search }, class: 'label label-success mikanz-tag ' + css_class) %>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="span6">
          <h4>最近登録されたミカン</h4>
          <div class="list-group">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'list-group-item') do %>
                <h4 class="list-group-item-heading">
                  <%= render partial: 'mikanzs/display_completion', locals: { mikanz: mikanz } %>
                  <%= mikanz.name %>
                </h4>
                <p class="list-group-item-text">
                  タグ：<%= render partial: 'mikanzs/tags', locals: { mikanz: mikanz } %>
                </p>
                <p class="via">（since <%= mikanz.start_year %>/<%= mikanz.start_month %>）</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
