      <div class="jumbotron topdiv">
        <div class="topdiv-child">
          <p></p>
          <h2>Mikanz -ミカンズ-</h2>
          <p class="lead">あのこのハート、いつか、つかもう</p>
          <p></p>
        </div>
      </div>
<div class="span6 share-button">
          <a href="http://b.hatena.ne.jp/entry/http://mikanz.a-know.me" class="hatena-bookmark-button" data-hatena-bookmark-title="Mikanz -ミカンズ- | みんなの未完成品が集まるばしょ" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このページをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このページをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
          <span class="fb-like" data-href="http://mikanz.a-know.me" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></span>
          <span class="tweet"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></span>
</div>
      <hr>

      <div class="row-fluid marketing">
        <h4>Mikanz -ミカンズ- って、なに？</h4>
        <div class="row demo-tiles">
          <div class="col-xs-4 about-column">
            <div class="tile">
              <%= image_tag '/images/image_outline.png', class: 'tile-image' %>
              <%= image_tag '/images/gateway.png', class: 'tile-image' %>
              <h3 class="tile-title">つくりかけのものを登録</h3>
              <p></p>
              <p>Mikanz -ミカンズ- は、<br>
              「みんなの未完成品（ミカン）が集まる場所」。<br>
              あまくてすっぱい、<br>アイデアだけの状態でもかまいません。</p>
            </div>
          </div>

          <div class="col-xs-4 about-column">
            <div class="tile">
              <%= image_tag '/images/check_for_virus.png', class: 'tile-image' %>
              <%= image_tag '/images/shape_star.png', class: 'tile-image' %>
              <h3 class="tile-title">見てもらい、応援してもらう</h3>
              <p></p>
              <p>あなたのミカンの登録ができたら、<br>
                ほかの人のミカンも見てみましょう。<br>
                そして、「いいな」と思うものがあったら、<br>
                ぜひ応援してあげましょう。</p>
            </div>
          </div>

          <div class="col-xs-4 about-column">
            <div class="tile">
              <%= image_tag '/images/animation.png', class: 'tile-image' %>
              <%= image_tag '/images/image.png', class: 'tile-image' %>
              <h3 class="tile-title">また頑張れる、完成させられる！</h3>
              <p></p>
              <p>「完成させることができるかどうか」を恐れず、<br>
                何かを創りだそうとする<br>
                全ての人を応援するWebサービス。<br>
                それが、 <strong>Mikanz -ミカンズ- </strong> です。</p>
            </div>
          </div>
          <h6 class="via">inspired by スピッツ - ミカンズのテーマ</h6>
        </div> <!-- /tiles -->

        <hr>

        <div class="span6">
          <h4>最近登録されたミカン</h4>
          <div class="swatches-col">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'pallete-item') do %>
                <dl class="mikanz-list-palette palette-nephritis top-mikanz-list-title">
                  <dt><%= fa_icon "heart" %> x <%= mikanz.waterings.size %></dt>
                </dl>
                <dl class="mikanz-list-palette palette-sun-flower mikanz-list-content">
                  <dt><span class="cut"><%= image_tag mikanz.mikanz_image.url || '/images/noimage.jpg', class: 'cut_image' %></span></dt>
                  <dd><div class="mikanz-list-title-icon"><b>by</b> <%= image_tag mikanz.owner.image_url, width: 25, height: 25 %></div></dd>
                </dl>
              <% end %>
            <% end %>
          </div>
        </div> <!-- /swatches row -->

        <hr>

        <div class="span6">
          <h4>よく使われているタグ</h4>
          <div class="tag-parent">
            <div class="tagcloud">
              <br>
              <br>
              <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                <%= link_to(tag.name + " (#{tag.taggings_count})", { :controller => 'mikanzs', :action => :tag_search, :tag_name => tag.name }, class: 'label label-warning mikanz-tag ' + css_class) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async">
  {lang: "ja"}
</script>