<% provide(:title, "#{@current_user.nickname}さんへのお知らせ") %>
<div class="row-fluid marketing">
  <div class="span6">
    <h4><%= image_tag @current_user.image_url, width: 25, height: 25 %>
      <%= @current_user.nickname %>さんへのお知らせ</h4>
    <div class="list-group">
      <% @notifications.each do |n| %>
        <% if n.kind == 'watering' %>
          <%= link_to(n.watering.mikanz, class: 'list-group-item') do %>
            <h5 class="list-group-item-heading">
              <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                あなたのミカン「<%= n.watering.mikanz.name %>」が <%= image_tag n.watering.user.image_url, width: 20, height: 20 %>
              <%= n.watering.user.nickname %> さんに応援されました！</p>
              <p class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></p>
            </h5>
          <% end %>
        <% elsif n.kind == 'complete' %>
          <%= link_to(n.watering.mikanz, class: 'list-group-item') do %>
            <h5 class="list-group-item-heading">
              <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                あなたが応援した <%= image_tag n.watering.mikanz.owner.image_url, width: 20, height: 20 %>
                <%= n.watering.mikanz.owner.nickname %> さんのミカン「<%= n.watering.mikanz.name %>」が完成したようです！</p>
              <p class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></p>
            </h5>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="kaminari-pagination"><%= paginate @notifications, :theme => 'twitter-bootstrap-3' %></div>
  </div>
</div>