<% provide(:title, "#{@current_user.nickname}さんへのお知らせ") %>
<div class="row-fluid marketing">
  <div class="span6">
    <h4><%= image_tag @current_user.image_url, width: 25, height: 25 %>
      <%= @current_user.nickname %>さんへのお知らせ</h4>
    <hr>
    <div class="list-group notification-list">
      <% @notifications.each do |n| %>
        <% if n.kind == 'watering' %>
          <%= link_to(n.watering.mikanz, class: 'list-group-item notification-list') do %>
            <h5 class="list-group-item-heading">
              <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                あなたのミカン「<%= n.watering.mikanz.name %>」が <% if n.watering.user.nil? %><%= image_tag "/images/nouser.png", width: 20, height: 20 %><% else %><%= image_tag n.watering.user.image_url, width: 20, height: 20 %><% end %>
              <% if n.watering.user.nil? %>退会済みユーザー<% else %><%= n.watering.user.nickname %><% end %> さんに応援されました！</p>
              <div class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            </h5>
          <% end %>
        <% elsif n.kind == 'complete' %>
          <% if n.watering.nil? %>
            <div class="list-group-item notification-list">
              <h5 class="list-group-item-heading">
                <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                  あなたが応援した <%= image_tag "/images/nouser.png", width: 20, height: 20 %>
                  退会済みユーザー さんのミカンが完成していたようです！</p>
                <div class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></div>
              </h5>
            </div>
          <% else %>
            <%= link_to(n.watering.mikanz, class: 'list-group-item notification-list') do %>
              <h5 class="list-group-item-heading">
                <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                  あなたが応援した <%= image_tag n.watering.mikanz.owner.image_url, width: 20, height: 20 %>
                  <%= n.watering.mikanz.owner.nickname %> さんのミカン「<%= n.watering.mikanz.name %>」が完成したようです！</p>
                <div class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></div>
              </h5>
            <% end %>
          <% end %>
        <% elsif n.kind == 'welcome' %>
          <div class="list-group-item notification-list">
            <h5 class="list-group-item-heading">
              <p><% unless n.read %><span class="label label-success">NEW</span><% end %>
                <%= image_tag @current_user.image_url, width: 25, height: 25 %>
                <%= @current_user.nickname %> さん、<b>Mikanz - ミカンズ</b> にようこそ！</p>
              <div class="via"><%= n.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            </h5>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="kaminari-pagination"><%= paginate @notifications, :theme => 'twitter-bootstrap-3' %></div>
  </div>
</div>