<% provide(:title, "ミカン新規登録") %>
<% now = Time.zone.now %>

<div class="page-header">
  <h3>ミカンの登録</h3>
</div>

<%= form_for(@mikanz, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @mikanz.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @mikanz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-success">
    <p><%= f.label :name, class: 'input-label'%></p>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <p><%= f.label :start_year_month, class: 'input-label' %></p>
    <%= render partial: 'input_start', locals: { f: f, mikanz: @mikanz } %>
  </div>
  <div class="form-group">
    <p><%= f.label :completion, class: 'input-label' %></p>
    <%= render partial: 'input_completion', locals: { f: f } %>
  </div>
  <div class="form-group">
    <p><%= f.label :tag_list, class: 'input-label' %></p>
    <%= text_field_tag 'mikanz[tag_list]', @mikanz.tag_list.join(','), id: 'mikanz_tag' %>
  </div>
  <div class="form-group has-success">
    <p><%= f.label :content, class: 'input-label' %></p>
    <%= f.text_area :content, class: 'form-control', row: 10 %>
  </div>
  <div class="form-group has-success">
    <p><%= f.label :url, class: 'input-label' %></p>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <% if @mikanz.mikanz_image? %>
      <div class="thumbnail">
        <%= image_tag @mikanz.mikanz_image.url %>
      </div>
    <% end %>
    <%= f.file_field :mikanz_image %>
    <%= f.hidden_field :mikanz_image_cache %>
  </div>
  <%= f.submit '登録', class: 'btn btn-hg btn-warning', data: { disable_with: '登録中...' } %>
<% end %>