<div class="page-header">
  <h1>
    <%= @mikanz.name %>
  </h1>
</div>

<div class="panel panel-default">
  <% if @mikanz.mikanz_image? %>
    <div class="panel panel-default">
      <div class="thumbnail">
        <%= image_tag @mikanz.mikanz_image.url %>
      </div>
    </div>
  <% end %>
  <div class="panel-heading">
    オーナー
  </div>
  <div class="panel-body">
    <%= link_to(url_for_twitter(@mikanz.owner)) do %>
      <%= image_tag @mikanz.owner.image_url %>
      <%= "@#{@mikanz.owner.nickname}" %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    制作開始時期
  </div>
  <div class="panel-body">
    <%= @mikanz.start_time.strftime('%Y/%m/%d %H:%M') %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    完成度
  </div>
  <div class="panel-body">
    <%= @mikanz.completion %> %
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    このミカンについて
  </div>
  <div class="panel-body">
    <%= @mikanz.content %>
  </div>
</div>
<div>
  <% if @mikanz.created_by?(current_user) %>
    <%= link_to '登録内容を編集する', edit_mikanz_path(@mikanz), class: 'btn btn-info btn-lg btn-block' %>
    <%= link_to 'このミカンを削除する', mikanz_path(@mikanz), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: { confirm: '本当に削除しますか？' }%>
  <% end %>
  <% if logged_in? %>
    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#createWatering">水やり（応援）する</button>
    <div class="modal fade" id="createWatering" tabindex="-1" role="dialog" arial-labelledby="dialogHeader" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="dialogHeader">水やりコメント</h4>
          </div>
          <%= form_for(@mikanz.waterings.build, url: mikanz_waterings_path(@mikanz), remote: true) do |f| %>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
              <%= f.button '送信', class: 'btn btn-primary', data: { disable_with: '送信中...' } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to '水やり（応援）する', new_mikanz_watering_path(@mikanz), class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      水やり（応援）してくれた人
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% @waterings.each do |watering| %>
          <% if watering.user %>
            <li>
              <%= link_to(url_for_twitter(watering.user)) do %>
                <%= image_tag watering.user.image_url, width: 20, height: 20 %>
                <%= "@#{watering.user.nickname}" %>
              <% end %>
            </li>
          <% else %>
            退会済みユーザ
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
