<div class="page-header">
  <h1>
    <%= @mikanz.name %>
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    オーナー
  </div>
  <div class="panel-body">
    <%= link_to("https://twitter.com/#{@mikanz.owner.nickname}") do %>
      <%= image_tag @mikanz.owner.image_url %>
      <%= "@#{@mikanz.owner.nickname}" %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    制作開始時期
  </div>
  <div class="panel-body">
    <%= @mikanz.start_time.strftime('%Y/%m/%d %H:%M') %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    このミカンについて
  </div>
  <div class="panel-body">
    <%= @mikanz.content %>
  </div>
</div>
<div>
  <% if @mikanz.created_by?(current_user) %>
    <%= link_to '登録内容を編集する', edit_mikanz_path(@mikanz), class: 'btn btn-info btn-lg btn-block' %>
    <%= link_to 'このミカンを削除する', mikanz_path(@mikanz), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: { confirm: '本当に削除しますか？' }%>
  <% end %>
</div>
