<div class="page-header">
  <h1>
    <%= @mikanz.name %>
  </h1>
  <h5>
    <div class="via">
      <% if @mikanz.owner %>
        <%= link_to(url_for_twitter(@mikanz.owner)) do %>
          <%= image_tag @mikanz.owner.image_url, width: 40, height: 40 %>
        <% end %>
        <%= link_to(url_for_twitter(@mikanz.owner)) do %>
          produced by <%= "@#{@mikanz.owner.nickname}" %>
        <% end %>
      <% else %>
        退会済みユーザ
      <% end %>
    </div>
  </h5>
</div>

<% if @mikanz.mikanz_image? %>
  <div class="panel panel-default thumbnail">
    <%= image_tag @mikanz.mikanz_image.url %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    完成度
  </div>
  <div class="panel-body">
    <%= @mikanz.completion %> %
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    このミカンについて
  </div>
  <div class="panel-body">
    <%= @mikanz.content %>
    <br>
    <p class="via">（<%= @mikanz.start_time.strftime('%Y/%m/%d %H:%M') %> より製作開始）</p>
  </div>
</div>
<div>
  <% if @mikanz.created_by?(current_user) %>
    <%= link_to '登録内容を編集する', edit_mikanz_path(@mikanz), class: 'btn btn-info btn-lg btn-block' %>
    <%= link_to 'このミカンを削除する', mikanz_path(@mikanz), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: { confirm: '本当に削除しますか？' }%>
  <% end %>
  <% unless owner?(@mikanz, current_user) %>
    <% if @watering %>
      <%= link_to '水やり（応援）を取り消す', mikanz_watering_path(@mikanz, @watering), method: :delete, class: 'btn btn-warning btn-lg btn-block' %>
    <% elsif logged_in? %>
      <div id="createWatering">
        <%= form_for(@mikanz.waterings.build, url: mikanz_waterings_path(@mikanz), remote: true) do |f| %>
          <%= f.button '水やり（応援）する', class: 'btn btn-primary btn-lg btn-block', data: { disable_with: '送信中...' } %>
        <% end %>
      </div>
    <% else %>
      <%= link_to '水やり（応援）する', new_mikanz_watering_path(@mikanz), class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  <% end %>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      水やり（応援）してくれた人
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% @waterings.each do |watering| %>
          <% if watering.user %>
            <li>
              <%= link_to(url_for_twitter(watering.user)) do %>
                <%= image_tag watering.user.image_url, width: 20, height: 20 %>
                <%= "@#{watering.user.nickname}" %>
              <% end %>
            </li>
          <% else %>
            退会済みユーザ
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
