<% provide(:title, "#{@user.nickname}さんのミカン一覧") %>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4><%= image_tag @user.image_url, width: 25, height: 25 %>
            <%= @user.nickname %>さんのミカン一覧</h4>
          <hr>
          <div class="swatches-col">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'pallete-item') do %>
                <dl class="mikanz-list-palette palette-nephritis mikanz-list-title">
                  <dt><%= render partial: 'mikanzs/display_completion', locals: { mikanz: mikanz } %> <%= mikanz.name.size > 5 ? mikanz.name[0..4] + '...' : mikanz.name %></dt>
                </dl>
                <dl class="mikanz-list-palette palette-sun-flower mikanz-list-content">
                  <dt><span class="cut"><%= image_tag mikanz.mikanz_image.url || '/images/noimage.jpg', class: 'cut_image' %></span></dt>
                  <dd><%= image_tag mikanz.owner.image_url, width: 20, height: 20 %> <%= "#{mikanz.owner.nickname}" %></dd>
                </dl>
              <% end %>
            <% end %>
          </div>
          <div class="kaminari-pagination"><%= paginate @mikanzs, :theme => 'twitter-bootstrap-3' %></div>
        </div>
      </div>